*{
    margin: 0 auto;
    padding: 0;
}
body{
    background-color: #555;
}
.test{
    text-align: center;
    padding: 40px 0;
}
.relove{
    animation: love  1s infinite linear ;
    transform: rotate(-20deg) ;
}
.lelove{
    animation: lovee  1s infinite linear ;
    transform: rotate(-2deg) ;
     animation-delay: 0.1s;
}
.elove{
    animation: opacityEye  1s infinite linear ;
}
.socail {
	position: fixed;
	top: 5%;
	left: 5%;
	background-image: url("https://scontent-cai1-1.xx.fbcdn.net/v/t1.0-9/13902545_909271545886333_236600210318994659_n.jpg?oh=11db3883ed529ede82f2dfde6d7454c5&oe=58525DA1");
	height: 60px;
	width: 60px;
  cursor: pointer;
	border-radius: 40px ;
	background-size:contain;
	background-position:center;
	background-repeat:no-repeat;
  z-index: 100
}
 .circle {
width: 10px;
height: 10px;
border-radius: 50%;
background-color: #FBE8D3;
border: 1px solid #928A97;
display: none
}
@-webkit-keyframes love{
    from{
       transform: rotate(0deg) ;
        
        opacity: 0.8
    }to{
        transform: rotate(-30deg);
        opacity: 0.3;
    }
}
@-webkit-keyframes lovee{
    from{
       transform: rotate(0deg) ;
        
        opacity: 1
    }to{
        transform: rotate(-30deg);
        opacity: 0.3;
    }
}

@-webkit-keyframes opacityEye{
    from{
        
        opacity: 0.3
    }to{
       
        opacity: 1;
    }
}
